{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Contact {% endblock %}
{% block contactActive %}active{% endblock %}

{% block contenu %}

    <section>
        page contact
    </section>

{% endblock %}